/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/
:root.theme-light {
    --text-color: #000000;
    --accent-color: #000000;
    --bg-color: #F5F5F5;
    --bg-image: repeating-linear-gradient( #d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px), 
                repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgb(211 211 211/0) 2px 4px),
                linear-gradient(#E7E7E7 0.01%, #1A1A1A);
    --font-weight: 400;
    --contour-color: #000000;
    --heart-color: #FF0000;
    --button-color: #F5F5F5;
}

:root.theme-dark {
    --text-color: #00CC14;
    --accent-color: #00CC14;
    --bg-color: #000000;
    --contour-color: #00CC14;
    --bg-image: repeating-linear-gradient( #000 0px 2px, rgb(211 211 211 / 0) 2px 4px), 
                repeating-linear-gradient(90deg, #000 0px 2px, rgb(211 211 211/0) 2px 4px),
                linear-gradient(#007f0c 0.01%, #004306);
    --font-weight: 785;
    --heart-color: #FF0000;
    --button-color: #00CC14;
}

@media (prefers-color-scheme: dark) {
    :root {
        --text-color: #00CC14;
        --accent-color: #00CC14;
        --contour-color: #00CC14;
        --button-color: #00CC14;
        --bg-color: #000000;
        --font-weight: 785;
        --heart-color: #FF0000;
        --bg-image: repeating-linear-gradient( #000 0px 2px, rgb(211 211 211 / 0) 2px 4px), 
                    repeating-linear-gradient(90deg, #000 0px 2px, rgb(211 211 211/0) 2px 4px),
                    linear-gradient(#007f0c 0.01%, #004306);;
    }
}

@media (prefers-color-scheme: light) {
    :root.theme-auto {
        --text-color: #000000;
        --accent-color: #000000;
        --bg-color: #F5F5F5;
        --bg-image: repeating-linear-gradient( #d3d3d3 0px 2px, rgb(211 211 211 / 0) 2px 4px), 
                    repeating-linear-gradient(90deg, #d3d3d3 0px 2px, rgb(211 211 211/0) 2px 4px),
                    linear-gradient(#E7E7E7 0.01%, #1A1A1A);
        --font-weight: 400;
        --contour-color: #000000;
        --heart-color: #FF0000;
        --button-color: #F5F5F5;
    }
  }
